.title2 {
  margin: 70px;
  width: 700px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 8px ridge hwb(214 29% 27% / 0.662);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
