{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>

  <style>
    .container {display: flex; flex-direction: column; align-items: center; font-size: x-small;}

    .input-container {display: flex; gap: 10px; font-size: x-small;}

    table {width: 90%; border-top: 1px solid #444444; border-collapse: collapse; text-align: center;}
    th, td {border-bottom: 1px solid #444444; padding: 20px; text-align: center;}
  
    p {display: flex; justify-content: center;}

    a {color:#000000}

    .button-container {display: flex; justify-content: flex-end; gap: 1%; flex: 1; margin-right: 6%;}   /* flex: 1; -> 남은 공간을 모두 차지하도록 설정 */
    .icon-button {background-color: transparent; border: none; cursor: pointer; width: 17px;}

    .move-button {border: none; border-radius: 10px; min-height: 25px; min-width: 40px; font-size: x-small;}

    /* 메뉴 */
    header {height: 75px; padding: 1% 15%; color: #FFFFFF; background: #333333; font-weight: bold; display: flex; justify-content: space-between; align-items: center;}
    li {position: relative; display: inline-block;}
    li a {color: #FFFFFF; text-align: center; padding: 16px; text-decoration: none;}
    li a:hover {color: #FFD400;}

    /* 모달 스타일 */
    .modal {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
    .modal-content {background-color: #ffffff; border-radius: 5px; padding: 20px; max-width: 415px; margin: 15% auto; white-space: nowrap;}
    .date-container {display: flex; align-items: center;}
    table.modal-table {border: none; white-space: nowrap; vertical-align: middle;} /* white-space: nowrap -> 텍스트 줄바꿈 방지 */
    .modal-t {border: none; font-size: small; padding: 15px; text-align: center;}
    .apply-button {border: none; border-radius: 10px; width: 100%; min-height: 25px; margin-top: 2%; cursor: pointer;}
    .close-button {color: #aaaaaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;}
    .close-button:hover {color: #000000;}
    .select input[type=radio] {display: none;}
    .select input[type=radio]+label {display: inline-block; cursor: pointer; width: 100px; border-radius: 10px; line-height: 24px; text-align: center; font-size: x-small;}
    .select input[type=radio]:checked+label {background-color: #eeeeee; font-weight: bold;}

    /* 모달 표시 애니메이션 */
    .modal.show {display: block; animation: fadeIn 0.3s;}
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
  </style>
</head>



<body>
  <!-- 상단 메뉴 -->
  <div>
    <header>
      <h2>Word Dictionary</h2>
      <nav>
        <ul>
          <li><a href="/keywordCollection">Keyword Collection</a></li>
          <li><a href="/keywords">Keywords</a></li>
        </ul>
      </nav>
    </header>
  </div>


  <div class="container" style="padding-top: 5%;">
    <div class="input-container">
      {% if keyword %}
      <h1 id="select-word">{{keyword}}</h1>
      {% else %}
      <h1 id="select-word">키워드</h1>
      {% endif %}
    </div>
  </div>

  
  <div class="input-container" style="padding-top: 5%;">
      <p id="total" style="margin-left: 6%;">총 단어 개수: {{rowCount}}</p>
      <div class="button-container">
        <button class="icon-button" id="open-modal-btn"><img src="{% static 'images/btn_imgs/filter.png' %}" alt="필터" width="17px"></button>
        <button class="icon-button"><img src="{% static 'images/btn_imgs/add.png' %}" alt="추가" width="17px" onclick="add_table()"></button>
        <button class="icon-button"><img src="{% static 'images/btn_imgs/modify.png' %}" alt="수정" width="17px" onclick="modify_table()"></button>
        <button class="icon-button" id="add-btn"><img src="{% static 'images/btn_imgs/delete.png' %}" alt="삭제" width="17px" onclick="deleteRows()"></button>
        <button class="icon-button"><img src="{% static 'images/btn_imgs/del_history3.png' %}" alt="삭제 내역" width="17px" onclick="historyOfDelete()"></button>
      </div>
  </div>


  <!-- 모달창 -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-button" id="close-modal-btn">&times;</span>
      <table id="modal-table" class="modal-table" border="0">
        <tbody>
          <tr>
            <th class="modal-t">사용여부</th>
            <td class="modal-t">
              <div class="select">
                <input type="radio" id="entire" name="usage" checked="checked"><label for="entire">전체</label> <!-- 텍스트도 같이 선택되게 하기 위해 label 사용 -->
                <input type="radio" id="zero" name="usage"><label for="zero">0</label>
                <input type="radio" id="one" name="usage"><label for="one">1</label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="modal-t">생성일자</th>
            <td class="modal-t">
              <div class="date-container">
                <input type="date" id="add-date-start">
                <p style="padding: 0% 3%;"> ~ </p>
                <input type="date" id="add-date-end">
              </div>
            </td>
          </tr>
          <tr>
            <th class="modal-t">수정일자</th>
            <td class="modal-t">
              <div class="date-container">
                <input type="date" id="modify-date-start">
                <p style="padding: 0% 3%;"> ~ </p>
                <input type="date" id="modify-date-end">
              </div>
            </td>
          </tr>
          <tr>
            <th class="modal-t">빈도수</th>
            <td class="modal-t">
              <div class="date-container">
                <input type="input" id="frequency-start">
                <p style="padding: 0% 3%;"> ~ </p>
                <input type="input" id="frequency-end">
              </div>
            </td>
          </tr>
          <tr>
            <td class="modal-t" colspan="2">
              <button id="apply-btn" class="apply-button">적용</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


    <!-- 테이블 -->
    <div class="container">
      <table id="table" border="0">
        <thead>
          <tr>
            <th>단어</th>
            <th>사용 여부</th>
            <th>생성일자</th>
            <th>수정일자</th>
            <th>URL</th>
            <th>빈도수</th>
            <th>히스토리 이동</th>
          </tr>
        </thead>

        <tbody style="cursor: pointer;">
          {% for row in rows %}
            <tr onclick="javascript:select_table(this);">
              <td>{{row.1}}</td>
              <td>{{row.2}}</td>
              <td>{{row.3}}</td>
              <td>{{row.4}}</td>
              <td>
                {%for url in row.6 %}
                <a href={{url}} target="_blank">{{url|slice:"30:"}}</a><br>
                {% endfor %}
              </td>
              <!-- <td>{{row.6}}</td> -->
              <td>{{row.5}}</td>
              <td><button class="move-button" onclick="moveHistory(this.parentNode.parentNode)">이동</button></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <br>
    <br>
    <!-- 페이징 번호 -->
    <div style="display: flex; justify-content: center;">
      <ul style="display:flex;list-style: none;">
        {% for page in paginator.page_range %}
          {% if page == rows.number %}
            <li style="margin:3px;"><a style="text-decoration: none; font-weight: bold; color: #000" href="?query={{keyword}}&page={{page}}">{{page}}</a></li>
          {% else %}
            <li style="margin:3px;"><a style="text-decoration: none; color: #000" href="?query={{keyword}}&page={{page}}">{{page}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>


    <script>

  // 새 페이지(히스토리 창)로 이동
      function moveHistory(word) {
        // history.html에 데이터 넘겨주기 위해 세션 스토리지에 데이터 저장
        const tdWord = word.querySelector('td:first-child').textContent;
        var keyword = document.querySelector("#select-word").textContent ;
        console.log(tdWord);
        console.log(keyword) ;
        sessionStorage.setItem("word", tdWord);

        const open = window.open("about:blank")
        open.location.href = "/history?keyword=" + keyword + "&word=" + tdWord ;
      }




  // 버튼 실행 중일 때, 다른 버튼 동작 안 하도록 하는 함수
      let isActionInProgress = false;   // 기능 동작 중 여부를 저장할 변수
      // alert("버튼 사용 중에는 다른 버튼을 사용할 수 없습니다.");

      // 버튼 동작 여부를 변경하는 함수
      function setButtonActionInProgress(status) {
        isActionInProgress = status; 
        const buttons = document.querySelectorAll('.icon-button');
        for (const button of buttons) {
          button.disabled = status; // 모든 아이콘 버튼 비활성화
        }
      }


      // server로 데이터 보내기 위한 함수
      function sendPost(url, params) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);
            form.innerHTML = '{% csrf_token %}'
            document.charset = "UTF-8";

            for (var key in params) {
                var hiddenField = document.createElement('input');
                hiddenField.setAttribute('type', 'hidden');
                hiddenField.setAttribute('name', key);
                hiddenField.setAttribute('value', params[key]);
                form.appendChild(hiddenField);
            }

            document.body.appendChild(form);
            form.submit();
        }

  // 모달창
    // 모달 열기
      const openModalBtn = document.getElementById('open-modal-btn');
      const modal = document.getElementById('modal');
      openModalBtn.addEventListener('click', () => {modal.classList.add('show');});

    // 모달 닫기
      const closeModalBtn = document.getElementById('close-modal-btn');
      closeModalBtn.addEventListener('click', () => {modal.classList.remove('show');});

    // 적용 버튼 클릭 시, 검색 필터 적용
      const applyBtn = document.getElementById('apply-btn');
      applyBtn.addEventListener('click', () => {
        var selectedUsage = document.querySelector('input[name="usage"]:checked').id;   // 사용여부 값
        const addDateStart = document.getElementById('add-date-start').value;   // 생성일자 시작 날짜
        const addDateEnd = document.getElementById('add-date-end').value;   // 생성일자 끝 날짜

        const modifyDateStart = document.getElementById('modify-date-start').value;   // 수정일자 시작 날짜
        const modifyDateEnd = document.getElementById('modify-date-end').value;   // 수정일자 끝 날짜

        var frequencyStart = document.getElementById('frequency-start').value;   // 빈도수 시작 범위
        var frequencyEnd = document.getElementById('frequency-end').value;   // 빈도수 끝 범위

        var keyword = document.querySelector("#select-word").textContent ;
        console.log(keyword) ;
        console.log(selectedUsage)

        // 필터에서는 무조건 1페이지로 돌아감 ㅇㅈ? ㅇㅇㅈ
        sendPost('/check', {'mode': 'filter', 'query':keyword, 'selectedUsage':selectedUsage, 'addDateStart': addDateStart, 'addDateEnd': addDateEnd, 'modifyDateStart':modifyDateStart, 'modifyDateEnd': modifyDateEnd, 'frequencyStart': frequencyStart, 'frequencyEnd': frequencyEnd})
      });




  // 검색 결과 개수 함수
      //function rowCount() {
      //  var table = document.getElementById('table');
      //  var rowCnt = table.tBodies[0].rows.length;
      //  document.getElementById("total").innerHTML = "총 단어 개수: " + rowCnt;
      //}

      // 초기 검색 결과 개수 표시
      // window.onload = function () {
      //   rowCount();
      // };




  // 키워드 수집 관련 함수
      // URL 파라미터에서 검색어 값 가져오기
      const urlParams = new URLSearchParams(window.location.search);
      var saveKeyword = urlParams.get('query');
  
      // 검색어 값이 있을 경우, 키워드 부분에 넣기
      if (saveKeyword) {
        document.getElementById("select-word").textContent = decodeURIComponent(saveKeyword);
      }




  // 1. 행 선택 함수
      var selectedRows = []; // 선택된 행들을 저장할 배열

      function select_table(target) {
        var tbody = target.parentNode;   // target: 선택한 행 / parentNode: 해당 행이 속한 tbody 요소
        var trs = tbody.getElementsByTagName('tr');   // 테이블의 모든 행 저장

        var backColor = "#ffffff";
        var textColor = "black";
        var selectBackColor = "#D9D9D9";
        var secletTextColor = "#000000";

        if (!target.classList.contains('selected')) {
          // 클릭한 행이 이미 선택된 행이 아니면 추가
          target.style.backgroundColor = selectBackColor;
          target.style.color = secletTextColor;
          target.classList.add('selected');
          // 이미 선택된 행인지 확인 후 추가
          if (selectedRows.indexOf(target) === -1) {
            console.log(selectedRows)
            selectedRows.push(target);
          }
        } else {
          // 클릭한 행이 이미 선택된 행이면 해제
          target.style.backgroundColor = backColor;
          target.style.color = textColor;
          target.classList.remove('selected');
          var index = selectedRows.indexOf(target);
          if (index !== -1) {   // 선택된 행이 배열에 있다면, 해당 행 배열에서 제거
            selectedRows.splice(index, 1);
          }
        }
      }



      // 현재 날짜 및 시간
      var now = new Date();
      var year = now.getFullYear();
      var month = ('0' + (now.getMonth()+1)).slice(-2);
      var date = ('0' + now.getDate()).slice(-2);
      var hours = ('0' + now.getHours()).slice(-2);
      var minutes = ('0' + now.getMinutes()).slice(-2);

      var addMoveBtn;   // 용어단어집 이동 버튼 활성화를 위한 변수

  // 2. 행 추가 함수
      function add_table() {
        if (!isActionInProgress) {
          setButtonActionInProgress(true);   // 버튼 동작 중으로 변경

          var table = document.getElementById('table');

          var newRow = table.insertRow(1);

          // 각 셀에 데이터 추가
          var cell1 = newRow.insertCell(0);
          var cell2 = newRow.insertCell(1);
          var cell3 = newRow.insertCell(2);
          var cell4 = newRow.insertCell(3);
          var cell5 = newRow.insertCell(4);
          var cell6 = newRow.insertCell(5);
          var cell7 = newRow.insertCell(6);

          // 새로운 행에 기본값으로 추가
          cell1.innerHTML = '<button class="icon-button close-row-btn" style="margin-right: 20px;" onclick="cancelRow(this)">&times;</button>' +
                            '<input type="text" style="font-size: x-small" placeholder="단어">';
          cell2.innerHTML = '<input type="text" style="font-size: x-small" placeholder="사용 여부">';
          cell3.innerHTML = year + "-" + month + "-" + date + " " + hours + ":" + minutes;
          cell4.innerHTML = year + "-" + month + "-" + date + " " + hours + ":" + minutes;
          cell5.innerHTML = '<input type="text" style="font-size: x-small" placeholder="url">';
          cell6.innerHTML = "-"
          cell7.innerHTML = '<button class="move-button" onclick="moveHistory(this.parentNode.parentNode)">이동</button>';

          // 취소 버튼 클릭 이벤트 추가
          var cancelBtn = cell1.querySelector('.close-row-btn');
          cancelBtn.addEventListener('click', function() {
            newRow.remove(); // 해당 행을 삭제
            setButtonActionInProgress(false); // 버튼 활성화
            // rowCount()   // 총 키워드 개수 업데이트
          });

          // 클릭 이벤트 추가
          newRow.onclick = function() {
            select_table(newRow);
          };

          // 용어단어집 이동 버튼 비활성화
          addMoveBtn = newRow.querySelector('.move-button');
          addMoveBtn.disabled = true;

          // 입력창에서 엔터 누르면 저장 함수로 이동
          var inputs = newRow.getElementsByTagName('input');
          inputs[0].addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
              addSave(event, newRow);
            }
          });
          inputs[1].addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
              addSave(event, newRow);
            }
          });
          inputs[2].addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
              addSave(event, newRow);
            }
          });

          // rowCount()   // 총 단어 개수 업데이트
        }

        // 2-1. 행 추가 내용 저장
        function addSave(event, newRow) {
          // 입력창의 값을 텍스트로 변경하여 저장
          var inputs = newRow.getElementsByTagName('input');
          var finalWord = inputs[0].value;
          var finalUsage = inputs[1].value;
          var finalUrl = inputs[2].value;

          // 추가할 때의 url 형태 가공
          var urls = finalUrl.split(',');
          var addHrefUrl = []
          for (var i = 0; i < urls.length; i++) {
            addHrefUrl.push('<a href="' + urls[i] + '" target="_blank">' + urls[i].replace("https://ko.wikipedia.org/wiki/", "") + '</a>');
            }
          
          var cells = newRow.cells;
          cells[0].innerHTML = finalWord;
          cells[1].innerHTML = finalUsage;
          cells[4].innerHTML = addHrefUrl.join('<br>');

          addMoveBtn.disabled = false;   // 용어단어집 이동 버튼 활성화
          setButtonActionInProgress(false); // 버튼 활성화

          console.log(finalWord) ;
          console.log(finalUsage) ;
          console.log(finalUrl) ;
          // console.log(finalFrequency) ;
          console.log(saveKeyword) ;
          var keyword = document.querySelector("#select-word").textContent ;
          sendPost('/check', {'mode': 'add', 'query':keyword.trim(), 'finalWord':finalWord.trim(), 'finalUsage': finalUsage, 'finalUrl':finalUrl.trim()}) ;
        }
      }



  // 3. 행 수정 함수
      var modifyMoveBtn;

      function modify_table() {
        if (!isActionInProgress) {
          setButtonActionInProgress(true);   // 버튼 동작 중으로 변경

          var table = document.getElementById('table');

          // 선택된 행이 1개일 때만 수정 가능
          if (selectedRows.length === 1) {
            var selectedRow = selectedRows[0]; // 첫 번째 선택된 행만 사용하도록
            var cells = selectedRow.cells;

            // 용어단어집 이동 버튼 비활성화
            modifyMoveBtn = selectedRow.querySelector('.move-button');
            modifyMoveBtn.disabled = true;

            // 기존 값 저장
            var word = cells[0].innerText;
            var usage = cells[1].innerText;
            var urls = cells[4].innerText.split('\n');

            // 수정할 내용을 입력창으로 변경
            cells[0].innerHTML = '<button class="icon-button close-row-btn" style="margin-right: 20px;">&times;</button>' +
                                '<input type="text" style="font-size: x-small" value=" '+ (word !== undefined ? word : '') +' ">';
            cells[1].innerHTML = '<input type="text" style="font-size: x-small" value=" '+ (usage !== undefined ? usage : '') +' ">';
            var inputUrl = []   // 수정할 때 원본 url이 보이도록
            for (var i = 0; i < urls.length; i++) {
              inputUrl.push("https://ko.wikipedia.org/wiki/" + urls[i]);
              }
            cells[4].innerHTML = '<input type="text" style="font-size: x-small" value=" '+ (inputUrl !== undefined ? inputUrl.join(', ') : '') +' ">';

            // 취소 버튼 클릭 이벤트 추가
            var cancelBtn = cells[0].querySelector('.close-row-btn');
            cancelBtn.addEventListener('click', function() {
              // 입력창을 기존값으로 변경
              cells[0].innerHTML = word;
              cells[1].innerHTML = usage;
              var hrefUrl = [];   // 하이퍼링크 형태로 넣기 위한 리스트
              for (var i = 0; i < urls.length; i++) {
                hrefUrl.push('<a href="https://ko.wikipedia.org/wiki/' + urls[i] + '" target="_blank">' + urls[i] + '</a>');
              }
              cells[4].innerHTML = hrefUrl.join('<br>');

              modifyMoveBtn.disabled = false;   // 용어단어집 이동 버튼 활성화
              setButtonActionInProgress(false); // 버튼 활성화
            });

            // 입력창에서 엔터 누르면 저장 함수로 이동
            cells[0].getElementsByTagName('input')[0].addEventListener('keydown', function(event) {
              if (event.key === 'Enter') {
                modifySave(cells, word, usage);
              }
            });
            cells[1].getElementsByTagName('input')[0].addEventListener('keydown', function(event) {
              if (event.key === 'Enter') {
                modifySave(cells, word, usage);
              }
            });
            cells[4].getElementsByTagName('input')[0].addEventListener('keydown', function(event) {
              if (event.key === 'Enter') {
                modifySave(cells, word, usage);
              }
            });

            selectedRow.classList.remove('selected');   // 행의 선택 표시 제거
          }

          // 1개 이상 선택 시
          else if (selectedRows.length >= 1) {
            alert("1개의 행만 선택해주세요.");
            setButtonActionInProgress(false);
            for (var i = 0; i < selectedRows.length; i++) {
              selectedRows[i].classList.remove('selected');
            }
          }

          // 하나도 선택하지 않았을 때
          else {
            alert("1개의 행을 선택해주세요");
            setButtonActionInProgress(false);
            selectedRow.classList.remove('selected');
          }
        }

      // 3-1. 행 수정 내용 저장
      function modifySave(cells, word, usage) {
        console.log(word) ;
        // 입력창의 값을 텍스트로 변경하여 저장
        var finalWord = cells[0].getElementsByTagName('input')[0].value;
        var finalUsage = cells[1].getElementsByTagName('input')[0].value;
        var finalUrl = cells[4].getElementsByTagName('input')[0].value;
        var hrefUrl = finalUrl.split(",");   // 하이퍼링크 형태로 넣기 위한 리스트
        console.log(hrefUrl)
        var modifyHrefUrl = [];
        for (var i = 0; i < urls.length; i++) {
          modifyHrefUrl.push('<a href="' + hrefUrl[i] + '" target="_blank">' + hrefUrl[i].replace("https://ko.wikipedia.org/wiki/", "") + '</a>');
        }

        cells[0].innerHTML = finalWord;
        cells[1].innerHTML = finalUsage;
        cells[4].innerHTML = modifyHrefUrl.join('<br>');


        // word와 usage가 변경될 때만 modifyDate 값을 변경
        if (word !== finalWord || usage !== finalUsage || urls !== finalUrl) {
          cells[3].innerHTML = year + "-" + month + "-" + date + " " + hours + ":" + minutes;
        }

          modifyMoveBtn.disabled = false;   // 용어단어집 이동 버튼 활성화
          setButtonActionInProgress(false); // 버튼 활성화

          console.log(finalWord.trim()) ;
          console.log(finalUsage.trim()) ;
          console.log(finalUrl.trim()) ;
          var keyword = document.querySelector("#select-word").textContent;
          sendPost('/check', {'mode': 'update', 'query': keyword.trim(), 'beforeWord': word.trim(), 'finalWord': finalWord.trim(), 'finalUsage': finalUsage.trim(), 'finalUrl': finalUrl.trim()})
        }
      }




  // 4. 행 삭제 함수
      function deleteRows() {
        if (!isActionInProgress) {
          setButtonActionInProgress(true); // 버튼 동작 중으로 변경

          var table = document.getElementById('table');

          if (selectedRows.length <= 0) alert("1개 이상의 행을 선택해주세요.");
          else {
            // 선택된 행들 삭제
            for (var i = 0; i < selectedRows.length; i++) {
              table.deleteRow(selectedRows[i].rowIndex);
            }

            var delete_word = [] ;
            for (var i = 0 ; i < selectedRows.length ; i++) {
              var row = selectedRows[i]
              // console.log(row) ;
              // console.log(row.querySelector('td').innerHTML) ;
              delete_word[i] = row.querySelector('td').innerHTML
            }
            console.log(delete_word) ;
            var keyword = document.querySelector("#select-word").textContent ;
            sendPost('/check', {'mode': 'delete', 'query':keyword, 'delete_word': [delete_word]}) ;

            selectedRows = [];

            // rowCount()   // 총 단어 개수 업데이트
          }

          setButtonActionInProgress(false); // 버튼 활성화
        }
      }




    // 5. 삭제 내역창 이동 함수
      function historyOfDelete() {    
        // if (saveKeyword) {
        //   sessionStorage.setItem("keyword", saveKeyword)
        // }
        var keyword = document.querySelector("#select-word").textContent ;


        // 페이지 이동
        const open = window.open("about:blank")
        open.location.href = "/delWord?keyword=" + keyword ;
      }
    </script>
</body>
</html>


