<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleted words</title>

    <style>
        .container {display: flex; flex-direction: column; align-items: center; font-size: x-small;}
    
        table {width: 90%; border-top: 1px solid #444444; border-collapse: collapse; text-align: center;}
        th, td {border-bottom: 1px solid #444444; padding: 20px; text-align: center;}

        .restore-button {border: none; border-radius: 10px; min-height: 25px; min-width: 40px; font-size: x-small;}

    </style>

</head>
<body>
    <div class="container" style="padding-top: 5%;">
        <div class="input-container">
          <h1 id="select-word">키워드 '{{keyword}}'의 단어 삭제 내역</h1>
        </div>
      </div>

      <!-- 테이블 -->
      <div class="container" style="padding-top: 5%;">
        <table id="table" border="0">
          <thead>
            <tr>
              <th>단어</th>
              <th>사용 여부</th>
              <th>삭제일자</th>
              <th>URL</th>
              <th>빈도수</th>
              <th>단어 복구</th>
            </tr>
          </thead>
  
          <tbody>
            {% for row in rows %}
              <tr onclick="javascript:select_table(this);">
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>
                  {%for url in row.5 %}
                  <a href={{url}} target="_blank">{{url|slice:"30:"}}</a><br>
                  {% endfor %}
                </td>
                <td>{{row.4}}</td>
                <td><button id="restore-btn" class="restore-button" onclick="restore(this.parentNode.parentNode)">복구</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>



      <script>
        // check.html에서 저장했던 세션 스토리지에서 데이터 불러와서 넣기
        // const saveKeyword = sessionStorage.getItem("keyword");
        // document.getElementById("select-word").textContent = "키워드 '" + (saveKeyword ? saveKeyword : '') + "'의 단어 삭제 내역";

        // server로 데이터 보내기 위한 함수
      function sendPost(url, params) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);
            form.innerHTML = '{% csrf_token %}'
            document.charset = "UTF-8";

            for (var key in params) {
                var hiddenField = document.createElement('input');
                hiddenField.setAttribute('type', 'hidden');
                hiddenField.setAttribute('name', key);
                hiddenField.setAttribute('value', params[key]);
                form.appendChild(hiddenField);
            }

            document.body.appendChild(form);
            form.submit();
        }


    // 페이지 이동
        function restore(word) {
            const confirmRestore = confirm("이 단어를 복구하시겠습니까?");   // 복구 확인 메세지
            
            if (confirmRestore) {
                var re_word = word.querySelector("td").textContent ;
                var keyword = document.querySelector("#select-word").textContent.split('\'')[1]
                console.log(re_word, keyword) ;

                word.remove();
                

                // 단어 삭제값 변경하기

                alert("복구 완료되었습니다.");
                sendPost('/delWord', {'keyword':keyword, 're_word':re_word})
            } else {
                alert("복구가 취소되었습니다.");
                }
            }
        </script>
</body>
</html>

